// Global
$background-color: #001f3a;
$border-box: 1px solid #ffa500;
$separation-line-color: #000000;
$header-text: #fff;
$container-width: 1170px;
$video-background-color: #E5E5E5;
$header-first-width: 800px;

// Text

$main-text-size: 18px;
$main-h1-text-size: 25px;

// Principal Videos
$video-principal-width: 650px;
$video-principal-heigth: 365.625px;
$principal-container-witdth: 700px;
$principal-container-heidth: auto;
$video-principal-width-mobile: 335px;
$video-principal-heigth-mobile: 188.43px;
$principal-container-witdth-mobile: 378px;
$principal-container-heidth-mobile: auto;
    // Like Button
    $like-button-width: 130px;
    $like-button-heidth: 30px;
    $like-button-background-color: #808080;
    $like-button-text-color: #ffffff;


// Small Videos
$video-second-width: 350px;
$video-second-heidth: 196.875px;
$video-second-width-mobile: 150px;
$video-second-heidth-mobile: 84.37px;
$second-container-width: 390px;
$second-container-heidth: auto;